body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.layout_padding {
  padding: 75px 0;
}

.heading_container {
  display: flex;
}

.heading_container h2 {
  font-weight: bold;
  color: #000000;
  padding: 3px 10px;
}

.heading_container h2::after {
  background-color: orange;
  height: 3px;
  width: 100%;
  content: "";
  display: flex;
}

.heading_container p {
  padding-left: 10px;
}

/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(../images/background.jpg  );
  background-size: cover;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.login_button {
  padding: 0;
  background-color: rgba(242, 244, 157, 0.49);
  border-radius: 30px;
  right: 0;
  margin-right: 10px;
}

.login_button:hover {
  background-color: rgba(242, 244, 157, 0.68);
  cursor: pointer;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 20px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}
/*end header section*/
/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  color: #ffffff;
}

.slider_section .detail-box h1 {
  font-weight: 1000;
}

.slider_section .detail-box h1 span {
  color: #fff;
}

.slider_section .detail-box p {
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: rgba(242, 244, 157, 0.49);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: transparent;
  border-color: rgba(242, 244, 157, 0.9);
  color: rgba(242, 244, 157, 0.49);
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: initial;
  width: 25px;
  height: 200%;
  margin: 0;
  bottom: 50%;
  right: 45px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slider_section .carousel-indicators::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 55%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider_section .carousel-indicators span {
  margin: 0 2px;
}

.slider_section .carousel-indicators li {
  text-indent: unset;
  margin: 0;
  border: none;
  opacity: 1;
  background-color: transparent;
  width: auto;
  height: auto;
}

.slider_section .carousel-indicators li.active {
  color: #e93f1a;
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 105px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  background-color: #959595;
  border-radius: 100%;
}

.slider_section .custom_carousel-control .carousel-control-prev:hover,
.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-color: #bea255;
}

.slider_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .custom_carousel-control .carousel-control-prev:hover {
  background-image: url(../images/prev-white.png);
}

.slider_section .custom_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-image: url(../images/next-white.png);
}

/* end slider section */
.about_section .img-box img {
  width: 100%;
}

.about_section {
}

.pic {
  border-radius: 0%;
  width: 100px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0);
}
.about_section .detail-box h2 {
  font-size: 40px;
  font-weight: 1000;
  margin: 10px 0;
  color: #000;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  border-color: rgba(242, 244, 157, 0.9);
  background-color: rgba(242, 244, 157, 0.49);
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 25px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: rgba(242, 244, 157, 0.9);
  color: black;
}

@media (max-width: 500px) {
  .pic{
    width: 50px;
    height: 100px;
  }

  .text_box a {
    padding: 5px 10px;
    font-size: 9px;
  }

  .text_box p {
    font-size: 9px;
    color: #fff;
    font-family: var(--main-font);
    margin-bottom: 30px;
  }
}


.service_section {
  background-repeat: no-repeat;
  background-size: cover;
}

.service_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
  width: 85%;
}

.service_section .box 


{
  margin-top: 5px;
}

.service_section .box a {
  padding: 6px 25px;
  color: black;
  border-color: rgba(242, 244, 157, 0.9);
  background-color: rgba(242, 244, 157, 1);
  text-transform: uppercase;
}
.service_section .box a:hover {
  background-color: transparent;
  border-color: rgba(242, 244, 157, 0.9);
  color: black;
}
.contact_section {
 background-image: url(../images/contact.jpg );
 height: 100vh;
 margin-top: 40px;
}
.contact_section .contact_bg {
  background-image: url("../images/body_bg.jpg");
  height: 60%;
  border-radius: 10px;
}
.contact_section .contact_form {
  margin-top: 25px;
}
.haha {
  position: relative;
  padding-bottom: 75%; /* Adjust this value to control the aspect ratio (e.g., 75% for 4:3 aspect ratio) */
  height: 0;
  overflow: hidden;
}

.iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container .responsive-iframe {
  width: 100%;
  height: 100%;
}

/* Hide the iframe on screens smaller than 768px */
@media (max-width: 768px) {
  .iframe-container {
    display: none;
  }
}
.contact_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}
.heading_container h2 {
  font-size: 40px;
  color: #fff;
}
.contact_section .contact_form {
  padding-left: 25px;
  padding-right: 25px;
}

.contact_section .contact_form .top_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_section .contact_form .top_input input {
  width: 48%;
}

.contact_section .contact_form input {
  width: 100%;
  margin: 15px 0;
  height: 50px;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: #1c1b2d;
  color: #ffffff;
}

.contact_section .contact_form input.message_input {
  padding: 25px 0 90px 15px;
}

.contact_section .contact_form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact_section .contact_form button {
  display: inline-block;
  padding: 8px 35px;
  background-color: #e93f1a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 45px;
}

.contact_section .contact_form button:hover {
  background-color: transparent;
  border-color: #e93f1a;
  color: #e93f1a;
}



/* client_section */
.client_section {
  font-family: "Roboto", sans-serif;
}

.client_section .img-box {
  min-width: 175px;
  max-width: 175px;
}

.client_section .img-box img {
  width: 100%;
}

.client_section .client_container {
  width: 70%;
  margin: auto;
}

.client_section .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding-left: 20px;
}

.client_section .client_name h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.client_section .client_name p {
  color: #e93f1a;
}

.client_section .client_detail {
  padding: 25px 45px;
  background-color: #e93f1a;
}

.client_section .client_text p,
.client_section .client_text blockquote {
  margin: 0;
  position: relative;
  color: #fff;
}

.client_section .client_text blockquote::before,
.client_section .client_text blockquote::after {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 20px;
}

.client_section .client_text blockquote::before {
  content: "\f10d";
  top: -6px;
  left: -30px;
}

.client_section .client_text blockquote::after {
  content: "\f10e";
  bottom: -10px;
  right: 5px;
}

.client_section .carousel-indicators {
  bottom: -75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .carousel-indicators li {
  width: 15px;
  height: 15px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  background-color: #e93f1a;
  opacity: 1;
  border-radius: 100%;
}

.client_section .carousel-indicators li.active {
  background-color: #000;
}

/* end client_section */
.info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .footer_contact {
  width: 550px;
}

.info_section .footer_contact .heading_container h2 {
  width: 100%;
  text-align: center;
  color: #000000;
}

.info_section .footer_contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 20px 0 20px;
}

.info_section .footer_contact .box .img-box .img-2 {
  display: none;
}

.info_section .footer_contact .box .img-box:hover .img-1 {
  display: none;
}

.info_section .footer_contact .box .img-box:hover .img-2 {
  display: inline;
}

.footer{
  background: #fcfcfc;
  font-family: sans-serif;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  transition: 0.5s;
}

.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;
margin-right: 20px;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    }
}

/*# sourceMappingURL=style.css.map */